
:root {
    --tan:#F1FAEE;
    --contrast:#e639a9;
    --light:#A8DADC;
    --medium:#457B9D;
    --dark:#1D3557;
}

::selection {
    background-color: var(--tan);
    color: var(--dark);
}

body{
    background-color: var(--tan);
    font-family:Arial, Helvetica, sans-serif;
    }

/* High Scores */
#highscore-page {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius:30px;
}

/* Link to go to high scores page */
a {
   text-decoration: none;
   color: var(--tan);
   background: var(--dark);
   padding:10px;
   margin-top: 20px;
}

a:hover {
   text-decoration: none;
   background: var(--contrast);
   
}


#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 0px solid black;
    border-radius:20px;
    background-color: var(--light);
}

#startQuiz {
    background-color: var(--dark);
    padding: 15px 32px;
    font-size: 20px;
    color: var(--tan);
    border-radius: 5px;
    border: 0px;
    
}

#startQuiz:hover {
    background-color: var(--contrast);
}

#questionsDiv {
    margin-top: 50px;
    margin-left: 25px;
    margin-right:25px;
    font-size: 25px;
    text-align:center;
}

#currentTime {
    float:right;
    margin-top: 20px;
    margin-left:100px;
    border-bottom: 0px solid var(--dark);
    width: 300px;
    align-content: center;
    padding:5px;
    border-radius: 80px;
    color:var(--dark);
    
}

/* On High scores page to go back to Quiz */
#goBack {
    background-color: var(--dark);
    float: right;
    padding: 10px;
    font-size: 20px;
    color: var(--tan);
    width: auto;
    margin-right:50px;
    border-radius: 10px;
    border: 0px;
}

#goBack:hover {
    background-color:var(--contrast);
}

#clear {
    background-color: var(--dark);
    float:left;
    padding: 10px;
    font-size: 20px;
    color: var(--tan);
    margin-left:50px;
    border-radius: 10px;
    border: 0px;
}

#clear:hover {
    background-color:var(--contrast);
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: var(--dark);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: var(--tan);
    border-radius: 10px;
    border:0px;
}

label {
    margin-right: 10px;
}

/* For user to input initials into high score */
input {
    margin-bottom: 20px;
    width: 50%;
    height: 20px;
    border: 1px solid var(--dark);
    background: var(--tan);
    
}

/* Heading "JavaScript Quiz" */
h1 {
    text-align: center;
    font-size: 35px;
}

/* text at beginning that explains quiz */
p {
    font-size: 20px;
    text-align: justify;
}

/* text for final score */
#createP {
    font-size: 25px;
}

/* Answer Options */
ul {
    list-style-type: none;
}

li {
    background-color: var(--dark);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
    border-radius: 80px;
}

li:hover {
    background-color:var(--contrast);
}

/* Section that says if answer was correct or incorrect */
#createDiv {
    margin-top: 20px;
    font-size: 20px;
}

#createDivCorrect {
    background-color: rgb(206, 242, 206);
    color: darkgreen;
    margin-top: 20px;
    margin-left: 45px;
    font-size: 20px;
    border-radius:5px;
    padding:5px;
    width: 75%;
}

#createDivWrong {
    background-color:#f39898;
    color: rgb(122, 5, 5);
    margin-top: 20px;
    margin-left: 45px;
    font-size: 20px;
    border-radius:5px;
    padding:5px;
    width: 75%;
}


/* Media Queries Below */

/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {

body {
    max-width: 786px;
}

#wrapper {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;
    
}
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {

body {
    min-width: 640px;
}

#wrapper {
position: absolute;
left: 10%;
}
a {
  margin-left: 10%;
}


}